div#preloader {
    z-index: 999;
    width: 100px;
    height: 100px;
    overflow: visible;
    background: url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;
}

.hide--preloader {
  display: none;
}
