@media screen and (max-width: 500px) {
    .form {
        padding: 20px 10px;
        margin: 0 auto;
    }
    
    .form__first-name,
    .form__last-name {
        width: 100%;
    }
    
    .form__first-name {
        margin-right: 0;
    }
}