* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: lightgreen;
}

.slider {
  width: 400px;
  height: 200px;
  margin: 100px auto;
}

.slider__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
