* {
  box-sizing: border-box;
}

body {
  background: url('../img/bg.jpg') 100%;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 80%;
  margin: 0 auto;
  font-family: "HanZiW10";
  background: rgba(217,211,184, .8);
    color: #a61f22;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #a61f22;
}

.logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 2rem;
}

.logo img {
    width: 100%;
    margin-bottom: 2rem;
}

.logo a {
    text-decoration: none;
}

.logo p {
    text-align: center;
    text-decoration: none;
    color: #a61f22;
}

.name {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.about {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    text-align: right;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2;
}

.delivery {
    font-weight: bold;
    text-shadow: 0 0 3px white;
    text-decoration: underline;
}

.footnote {
    font-size: 0.5rem;
    height: 1rem;
}

.phone,
.timework {
    font-size: 1rem;
}

.social a {
    color: #a61f22;
}

.fa-stack {
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-stack:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

nav div {
    line-height: 2;
    font-size: 1.5rem;
    -webkit-transition: .5s;
    transition: .5s;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin:  5px 0;
}

/*nav div:hover {
    background: white;
    color: #fc7844;
}*/

nav div:active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.active {
  background: white;
  color: black;
}

section {
    width: 100%;
}

.block_items {
    width: 100%;
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
}

.item {
    width: 30%;
    margin: 1rem;
    margin-bottom: 3rem;
    position: relative;
    cursor: pointer;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            -ms-grid-row-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main img {
    width: 60%;
    height: 60%;
    margin: 20px 0;
}

figure {
    position: relative;
    width: 100%;
    overflow: hidden;
}

figcaption {
    position: absolute;
    bottom: 2px;
    padding: 5px 0;
    background: rgba(217, 211, 184, .8);
    width: 100%;
    text-align: center;
    z-index: 1000;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    box-shadow: 0px -2px 7px 5px rgba(217, 211, 184, 0.7);
}

figure:hover figcaption {
    background: rgba(217, 211, 184, 0.7);
    color: #a61f22;
    opacity: 1;
}

.item img {
    width: 100%;
    position: relative;
    z-index: 100;
    border-radius: 10px;
}

.item p {
    text-align: center;
    width: 100%;
    margin: 10px 0;
    font-size: 1.5rem;
    height: 3rem;
}

.cart-button {
    position: absolute;
    top: 2px;
    left: 2px;
    color: darkgreen;
    padding: .5rem;
    border: 2px solid darkgreen;
    border-radius: 5px;
    background: white;
    z-index: 1000000;
}

.cart-buy-button {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #335c40;
    padding: .5rem 0;
    border: 2px solid #335c40;
    border-radius: 5px;
    font-size: 1.5rem;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s;
}

.cart-buy-button:active {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.bootstrap-widget .popover {
    margin-left: -10px !important;
}
.bootstrap-widget .popover .arrow {
    margin-left: 10px !important;
}

footer {
    border-top: 1px solid #a61f22;
}

footer p {
    font-size: 1rem;
    text-align: right;
    padding: .2em .5rem;
    font-family: sans-serif;
    font-weight: bold;
}

footer p a {
    color:#a61f22;
    text-decoration: none;
    font-weight: 100;
}

footer p a:hover {
    text-decoration: underline;
}

.cbalink {
    display: none;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }

    .item {
        width: 40%;
    }
}

@media screen and (max-width: 720px) {
    .item {
        width: 100%;
    }
}
