@import url(libs.css);

.wrapper {
  background: #fee977;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px;
}

.card {
  background: #fff;
  padding: 42px 102px 36px 102px;
  box-shadow: 0 2px 3px  rgba(0, 0, 0, .2);
  border-radius: 4px;
}

.card:nth-child(2) {
  margin: 0 30px;
  padding: 55px 102px;
}

.card__price {
  font-family: "Miso", sans-serif;
  color:  #02995b;
  font-size: 4.375rem;
  font-weight: 700;
}

.card__img {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.card__smoke {
  margin-bottom: 11px;
}

.card:nth-child(2) .card__price-block {
  margin-bottom: 33px;
}

.card:nth-child(2) .card__desc-wrap {
  margin-top: 47px;
}

.card__title {
  font-family: "Miso", sans-serif;
  color:  #333333;
  font-size: 3.5rem;
  font-weight: 400;
}

.card__desc {
  font-family: Lato, sans-serif;
  color:  #333333;
  font-size: 1.25rem;
  font-weight: 300;
}
