@import "../libs/normalize/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/***
    default settings
***/

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 945px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background: #fafafa;
}

/***
    header
***/

.header {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
    font-size: 0;
    position: fixed;
}

.logo--header {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.nav {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-size: 1rem;
    text-align: right;
}

.nav__item {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__link {
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 27px 0;
    display: block;
}

.nav__link::before {
  content: "";
  width: 100%;
  height: 3px;
  background: transparent;
  position: absolute;
  top: 0;
}

.current::before,
.nav__link:hover::before {
  background: #00abeb;
}

/***
    parallax
***/

.maincontent {
  padding-top: 70px;
}

.btn-link {
  border-radius: 3px;
  display: inline-block;
  background: #00abeb;
  padding: 8px 15px;
  box-shadow: 0 5px 0 #008bc0;
  transition: background .2s ease-in;
  margin-top: 40px;
}

.btn-link:hover {
  background: #008bc0;
}

.btn-link > span {
  font-family: "Roboto", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: .5px;
  color: #fff;
  line-height: .9375rem;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  margin-right: 5px;
}

.btn-link > i {
  color: #fff;
  vertical-align: middle;
}

.parallax-block {
    width: 100%;
    height: 555px;
    background-color: #00abeb;
}

.parallax-shipbuilding {
    background: url('../img/ship_1.jpg') center center no-repeat;
    background-size: cover;
}

.description-wrap {
  padding-bottom: 100px;
}

/***
    title block
***/

.title-wrap {
    background: #fff;
    margin-top: -145px;
    border-radius: 2px;
    border: 1px solid rgba(151, 151, 151, 0.2);
    padding: 15px;
}

.inner-title {
    border-radius: 2px;
    border: 1px solid rgba(151, 151, 151, 0.2);
    text-align: center;
    padding: 40px;
}

.title__img-wrap {
    width: 100px;
    height: 100px;
    background: #00abeb;
    border-radius: 50%;
    /* new */
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.title__desc {
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}



/*page description*/

.page-description {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: .5px;
  color: #000;
}

.page-description--paragraph {
  margin-top: 25px;
}

.page-description--paragraph:first-child {
  margin-top: 0;
}



.price {
  background: #fff;
  padding: 100px 0;
}

.price__list {
  margin: 0 auto;
}

.price__item {
  width: 185px;
  display: inline-block;
  text-align: center;
}

.price__item:not(:last-child) {
  margin-right: 60px;
}

.price__img-wrap {
  width: 100px;
  height: 100px;
  background: rgba(32, 32, 32, 0.8);
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

.price__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price__title {
  margin-top: 30px;
  font-size: 1.125rem;
  line-height: 1.33;
  letter-spacing: .5px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-align: center;
}

.price__desc {
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  line-height: 1.57;
  letter-spacing: .5px;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  margin-top: 13px;
  text-align: center;
}
