@media screen and ( max-width: 961px ) {

    .container {
        width: 750px;
        position: relative;
    }

    /* *
    *
    *   header
    *
    * */

    .logo--header {
        width: 20%;
    }

    .nav {
        width: 80%;
    }
    
    
    .price__list {
        flex-wrap: wrap;
    }
    
    .price__item {
        width: 45%;
        margin-bottom: 30px;
    }
    
    
    .price__item:not(:last-child) {
    margin-right: 0;
}
    
    .price__item:nth-child(2n+1) {
        margin-right: 10px;
    }

}

@media screen and ( max-width: 801px ) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    /* *
    *
    *   header
    *
    * */

    .header {
        padding: 22px 0;
    }

    .logo--header {
        width: 140px;
        height:26px;
    }

    /* *
    *
    *   nav
    *
    * */

    .nav {
        position: absolute;
        right:15px;
        top: 50%;
        transform: translateY(-50%);
        width:30px;
    }

    .responsive-btn {
        display: block;
    }

    .nav__list {
        position: absolute;
        /* open menu  */
        /*right: -15px;*/
        right: -170px;
        top: -35px;
        background: #fff;
        height: 100vh;
        z-index:999;
        box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
        will-change: right;
        transition: .5s;
    }
    
    .responsive-btn:hover + .nav__list {
        right: -15px; 
    }
    
    .nav__item {
        display: block;
        margin-left: 0;
    }
    .nav__item:hover:before,
    .current:before {
        background: none;
    }
    .nav__link {
        text-align: left;
        padding-left:35px;
        padding-right:35px;
    }
    .nav__link:active {
        background: #00abeb;
        color: #fff;
    }
}

@media screen and ( max-width: 731px ) {
    
    .price__item {
        width: 90%;
        margin-bottom: 50px;
    }

}

}